/* Estilos generales */
body {
    background-color: #ffffff !important;
    color: #404040 !important;
}



/* Estilos para error-container */
.error-container h1 {
    color: #ff0722 !important;
}

.error-container p {
    color: #404040 !important;
}

/* Botones personalizados */
.btn-custom, .btn-primary, .btn-secondary {
    background-color: #404040 !important;
    color: #ffffff !important;
}

.btn-custom:hover, .btn-primary:hover, .btn-secondary:hover {
    background-color: #ff0722 !important;
    color: #ffffff !important;
}

/* Estilos en modo oscuro */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212 !important;
        color: #e0e0e0 !important;
    }
    .nav-link.active{background-color: #ffffff !important;
        color:#121212 !important;}
    .container, .row, .col-md-3, .col-md-9, .form-group, .btn, .nav-link, .tab-content, .tab-pane, h1, h3, label, p, td, th {
    color: #ffffff !important;
}
#userRole, #userStatus, #editUserRole, #editUserStatus{color:#121212 !important}
    .error-container h1 {
        color: #ff5722 !important;
    }
    .error-container p {
        color: #e0e0e0 !important;
    }
    .btn-custom, .btn-primary {
        background-color: #69ff5c !important;
        color: #121212 !important;
    }
        .btn-danger,.btn-secondary{
        background-color: #ff2f34  !important;
        color: #ffffff !important;
    }
    .btn-danger:hover, .btn-secondary:hover {
        background-color: #ff0722 !important;
        color: #ffffff !important;
    }
    .btn-custom:hover, .btn-primary:hover, .btn-secondary:hover {
        background-color: #ffffff !important;
        color: #404040 !important;
    }
    td, th {
        background-color: #1e1e1e !important;
        color: #e0e0e0 !important;
    }
    /* Estilos para texto en contenedores */

}

/* Estilos en modo claro */
@media (prefers-color-scheme: light) {
    body {
        background-color: #ffffff !important;
        color: #404040 !important;
    }
    .nav-link.active{background-color: #404040 !important;
    color:#ffffff !important;}
    .error-container h1 {
        color: #ff0722 !important;
    }
    .error-container p {
        color: #404040 !important;
    }
    .btn-custom,  .btn-secondary, .btn-primary{
        background-color: #404040 !important;
        color: #ffffff !important;
    }
    .btn-danger{
        background-color: #ff2f34  !important;
        color: #ffffff !important;
    }
    .btn-danger:hover {
        background-color: #ff0722 !important;
        color: #ffffff !important;
    }
    .btn-custom:hover, .btn-primary:hover, .btn-secondary:hover,.btn-danger:hover {
        background-color: #ff0722 !important;
        color: #ffffff !important;
    }
    td, th {
        background-color: #ffffff !important;
        color: #404040 !important;
    }
}

/* Validación de campos */
.invalid-feedback {
    color: red !important;
}
